<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
</head>
<body>



<script>
    $.ajax({
        url: "https://app.asana.com/-/api/0.1/workspaces/",
        type: 'GET',
        success: function(res) {
            console.log(res);
        },
        error: function (res) {
            console.log(res)
        }
    });
</script>
</body>
</html>